
nav{
width: 115px;
height: 100vh;
background: #FF7F5C 0% 0% no-repeat padding-box;
border-radius: 0px 30px 30px 0px;
}
.logo{
    width: 64px;
    height: 64px;
}
.icon{
    img{
        margin-top: 42px;
        margin-left: 12px;
        width: 40px;
        height: 40px;
    }
}
.control-rom{
    margin-top: 192px;
}

.out-icon{
    margin-top: 50px;
    
}