<nav>
    <div class="container ">
        <div class="row ">
          <div class="col mt-3 logo"><img src=".//src/assets/PMS.svg" alt=""></div>
    </div>
    <div class="row control-rom ">
        <div class="col icon"><img src=".//src/assets/control-room.svg" alt=""></div>
    </div>
    <div class="row  ">
        <div class="col icon"><img src=".//src/assets/dashboard.svg" alt=""></div>
    </div>
    <div class="row ">
        <div class="col icon"><img src=".//src/assets/elements.svg" alt=""></div>
    </div>
    <div class="row ">
        <div class="col icon"><img src=".//src/assets/settings.svg" alt=""></div>
    </div>
    <div class="row ">
        <div class="col icon"><img src=".//src/assets/notifications.svg" alt=""></div>
    </div>
    
    <div class="row out-icon">
        <div class="col icon"><img src=".//src/assets/logout.svg" alt=""></div>
    </div>

        </div>
</nav>