
<div class="bar">
   <div class="boutn">
   
   </div>
    <div class="bar-2">
        <div class="pc-tab">
            <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />

              <nav>
                <ul>
                  <li class="tab1">
                    <label for="tab1"><a ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                        <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                      </svg> GRAPH</a></label>
                  </li>
                  <li class="tab2">
                    <label for="tab2"><a >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
                            <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
                          </svg>
                        LIST</a></label>
                  </li>
                  
                </ul>
              </nav>
              <section class="tabs">
                <div class="tab1">
                  <div class="card">

                    
                  <div class="imge">
                   
                    <img src=".//src/assets/gas-station-svgrepo-com-1.svg" alt="">
                    <samp></samp>
                    <p class="p1">STATION NAME DUMMY</p>
                    <div class="dropdown">
                      <button class="dropbtn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                      </svg></button>
                      <div class="dropdown-content">
                       <p>View Properties:</p>
                       <div class="box-canter">

                         <label class="container box-1">Total sales
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container box-2">Max transaction count per hour
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container box-3">Total transaction
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container box-4">Max transaction count date-time
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container box-5">Total value
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container box-6">Compressor status
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="data">
                      <p class="p-date-1">Total Sales</p>
                      <p class="p-date-2">62,721 M</p>
                      <p class="p-date-3">Compression State</p>
                      <p class="p-date-4">Compression</p>
                      <p class="p-date-5">Max Transaction / hour</p>
                      <p class="p-date-6">20</p>
                      <p class="p-date-7"> Total Value</p>
                      <p class="p-date-8"> 550  EGP</p>
                      <p class="p-date-9"> Total Transaction Count</p>
                      <p class="p-date-10"> 5161</p>
                      <p class="p-date-11"> Max Transaction Date-Time</p>
                      <p class="p-date-12"> 8:1:2021 | 10:16 PM</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="imge">
                      <img src=".//src/assets/gas-station-svgrepo-com-1.svg" alt="">
                      <samp></samp>
                      <p class="p1">STATION NAME DUMMY</p>
                    </div>
                    <div class="data">
                        <p class="p-date-1">Total Sales</p>
                        <p class="p-date-2">62,721 M</p>
                        <p class="p-date-3">Compression State</p>
                        <p class="p-date-4">Compression</p>
                        <p class="p-date-5">Max Transaction / hour</p>
                        <p class="p-date-6">20</p>
                        <p class="p-date-7"> Total Value</p>
                        <p class="p-date-8"> 550  EGP</p>
                        <p class="p-date-9"> Total Transaction Count</p>
                        <p class="p-date-10"> 5161</p>
                        <p class="p-date-11"> Max Transaction Date-Time</p>
                        <p class="p-date-12"> 8:1:2021 | 10:16 PM</p>
                      </div>
                    </div>
                    <div class="card">
                    
                      <div class="imge">
                        <img src=".//src/assets/gas-station-svgrepo-com-2.svg" alt="">
                        <samp></samp>
                        <p class="p1">STATION NAME DUMMY</p>
                        
                      </div>
                      
                      <div class="data">
                          <p class="p-date-1">Total Sales</p>
                          <p class="p-date-2">62,721 M</p>
                          <p class="p-date-3">Compression State</p>
                          <p class="p-date-4">Compression</p>
                          <p class="p-date-5">Max Transaction / hour</p>
                          <p class="p-date-6">20</p>
                          <p class="p-date-7"> Total Value</p>
                          <p class="p-date-8"> 550  EGP</p>
                          <p class="p-date-9"> Total Transaction Count</p>
                          <p class="p-date-10"> 5161</p>
                          <p class="p-date-11"> Max Transaction Date-Time</p>
                          <p class="p-date-12"> 8:1:2021 | 10:16 PM</p>
                        </div>
                      </div>
                </div>
                <div class="tab2">
                  <table id="q-graph">
                    <caption>STATIONS ACTIVATES OVERVIEW</caption>
                    <div class="lest">

                      <a class="orerg">SALES
                        <hr>
                      </a>
                      <a>TRANSACTION</a>
                      <a>VALUE</a>
                      <a>COMPRESSION</a>
                    </div>
                    <thead>
                    <tr>
                    <th></th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="qtr" id="q1">
                    <th scope="row">Station Name Dummy 1</th>
                    <td class="sent bar" style="height: 160px; width: 11px;"><p></p></td>
                    
                    </tr>
                    <tr class="qtr" id="q2">
                    <th scope="row">Station Name Dummy 1</th>
                    <td class="sent bar" style="height: 67px; width: 11px;"><p></p></td>
                    
                    </tr>
                    <tr class="qtr" id="q3">
                    <th scope="row">Station Name Dummy 1</th>
                    <td class="sent bar" style="height: 113px; width: 11px;"><p></p></td>
                   
                    </tr>
                    <tr class="qtr" id="q4">
                    <th scope="row">Station Name Dummy 1</th>
                    <td class="sent bar" style="height: 138px; width: 11px;"><p></p></td>
                    </tr>
                    <tr class="qtr" id="q5">
                      <th scope="row">Station Name Dummy 1</th>
                      <td class="sent bar" style="height: 138px; width: 11px;"><p></p></td>
                      </tr>
                    </tbody>
                    </table>
                    
                    <div id="ticks">
                    <div class="tick" style="height: 59px;"><p>300</p></div>
                    <div class="tick" style="height: 59px;"><p>250</p></div>
                    <div class="tick" style="height: 59px;"><p>200</p></div>
                    <div class="tick" style="height: 59px;"><p>150</p></div>
                    <div class="tick" style="height: 59px;"><p>100</p></div>
                    </div>

                    
                </div>
              </section>
            </div>
    </div>
</div>
