.hedaer-comb{
    margin-left: 180px;
    margin-top: 50px;
     }
.nav-comb{
    margin-top: -174px;
    width: 12px;
}
.rectangle{
    margin-left: 150px;
    margin-top: -700px;
}

.hourl{
    width: 312px;
    height: 350px;
    margin-left: 1330px;
    margin-top: -190px;
}
.componet{
    margin-left: 150px;
    margin-top: -80px;
    width: 1080px;
    height: 450px;

}